<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="assets/css/materialize.min.css">
</head>
<body ng-app="Client">
	<div ng-view></div>
	{{"Hola"}}
	<script src="components/angular.min.js"></script>
	<script src="components/angular-resource.min.js"></script>
	<script src="components/angular-route.min.js"></script>
	
	<script src="scripts/router.js"></script>
	<script src="scripts/controllers/note.js"></script>
	<script src="scripts/services/NoteService.js"></script>

	<script src="assets/js/jquery-3.2.1.min.js"></script>
	<script src="assets/js/materialize.min.js"></script>
</body>
</html>