<div class="card-panel">
	<form ng-submit="saveNote()">
		<div class="input-field">
			<input type="text" ng-model="Note.name">
		</div>
		<div class="input-field">
			<textarea class="materialize-textarea" ng-model="Note.description"></textarea>
		</div>
	</form>
</div>